[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chardet = "*"
"pypdf2" = "*"
gensim = "*"
pyocr = "*"
wand = "*"
numpy = "*"
"beautifulsoup4" = "*"
lxml = "*"
pyyaml = "*"
matplotlib = "*"
scikit-learn = "*"
cupy = "*"
spacy = {extras = ["cuda92"],version = "*"}
nltk = "*"
py2neo = "*"
geniatagger-python = {file = "https://github.com/d2207197/geniatagger-python/archive/master.zip"}
pymetamap = "*"

[dev-packages]

[requires]
python_version = "3.6"
