[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chardet = "*"
"pypdf2" = "*"
gensim = "*"
pyocr = "*"
wand = "*"
numpy = "*"
textpipeliner = "*"
"beautifulsoup4" = "*"
lxml = "*"
pyyaml = "*"
matplotlib = "*"
scikit-learn = "*"
cupy = "*"
thinc-gpu-ops = "*"
spacy = {extras = ["cuda"],version = "*"}
nltk = "*"
neo4j = "*"
py2neo = "*"

[dev-packages]

[requires]
python_version = "3.6"
